/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v26-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  vertical-align: middle; /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  overflow: visible; /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  height: 13px; /* 3 */
  width: 13px; /* 3 */
}

input[type=search] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  width: 100%;
  margin-top: 25px;
}
.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-right: 50px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}
.menu__item {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu__item:hover {
  color: #c0b7e8;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}
.menu__contact-button {
  width: 154px;
  height: 48px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  background: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu__contact-button:hover {
  color: #c0b7e8;
  border-color: #c0b7e8;
  background-color: rgba(192, 183, 232, 0.0745098039);
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
}
.menu__join-button {
  width: 154px;
  height: 48px;
  color: #343045;
  border-radius: 40px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 118, 175)), to(rgb(192, 183, 232)));
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu__join-button:hover {
  border-color: #c0b7e8;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  background: -webkit-gradient(linear, left top, right top, from(rgb(146, 137, 182)), to(rgb(200, 193, 235)));
  background: linear-gradient(90deg, rgb(146, 137, 182), rgb(200, 193, 235) 100%);
}
.menu__button {
  display: none;
}

.header {
  width: 100%;
  position: relative;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  width: 456px;
}
.header__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.header__title-ftext {
  font-size: 40px;
  font-weight: 700;
}
.header__title-ftext .ft1 {
  color: rgb(129, 118, 175);
  font-size: 46px;
}
.header__title-stext {
  font-size: 40px;
  font-weight: 700;
  margin-top: 18px;
}
.header__title-stext .ft2 {
  color: rgb(192, 183, 232);
  font-size: 46px;
}
.header__desc-text {
  line-height: 25px;
  color: #c9c9c9;
}
.header__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  gap: 40px;
}
.header__button {
  width: 214px;
  height: 48px;
  border: none;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 118, 175)), to(rgb(192, 183, 232)));
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__button:hover {
  border-color: #c0b7e8;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  background: -webkit-gradient(linear, left top, right top, from(rgb(146, 137, 182)), to(rgb(200, 193, 235)));
  background: linear-gradient(90deg, rgb(146, 137, 182), rgb(200, 193, 235) 100%);
}
.header__arrow {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__button:hover + .header__arrow {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}
.header__illustration {
  border-radius: 100px 100px 100px 240px;
  background-image: url("../img/header-illustration.png");
  background-position: -30px -70px;
  min-width: 490px;
  min-height: 426px;
  position: relative;
}
.header__illustration::before {
  content: "";
  background: rgba(0, 0, 0, 0.13);
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 115px 115px 115px 255px;
  z-index: -1;
}

.contacts {
  width: 100%;
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 167px;
  background: radial-gradient(circle, rgba(58, 52, 86, 0.95) 0%, rgb(33, 30, 46) 100%);
  border-radius: 90px;
  margin-top: 105px;
  margin-bottom: 90px;
}
.contacts__slide-prev-button, .contacts__slide-next-button {
  display: none;
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 60px;
  gap: 15px;
}
.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.contacts__text h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.contacts__text p {
  font-size: 14px;
  line-height: 17px;
  color: #c9c9c9;
}
.contacts .border {
  border-left: 1px solid rgba(192, 183, 232, 0.33);
  border-right: 1px solid rgba(192, 183, 232, 0.33);
  padding: 30px 60px;
}

.about {
  width: 100%;
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  width: 1440px;
  height: 100%;
  background-image: url("../img/svg/about-bg.svg");
  background-repeat: no-repeat;
  top: 240px;
  left: calc(50% - 720px);
  overflow: hidden;
  z-index: -1;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.about__content-text .about-min {
  min-width: 297px;
}
.about__content-text h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 55px;
}
.about__content-text h2 span {
  font-weight: 700;
}
.about__content-text img {
  -webkit-transform: translate(-22px);
      -ms-transform: translate(-22px);
          transform: translate(-22px);
  margin-right: 120px;
}
.about__content-text p {
  line-height: 25px;
  color: #c9c9c9;
}
.about__content-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 120px;
  margin-bottom: 100px;
}
.about__image {
  background-image: url("../img/about-img.png");
  border-radius: 240px 100px 240px 100px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 524px;
  min-height: 557px;
}
.about__content-text-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.about__content-text-sub h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 10px;
}
.about__content-text-sub h2 span {
  font-weight: 700;
}
.about__content-text-sub img {
  -webkit-transform: translate(-22px);
      -ms-transform: translate(-22px);
          transform: translate(-22px);
  margin-right: 120px;
}
.about__content-text-sub p {
  line-height: 25px;
  color: #c9c9c9;
}
.about__button {
  width: 214px;
  height: 48px;
  color: #343045;
  border-radius: 40px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 118, 175)), to(rgb(192, 183, 232)));
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.about__button:hover {
  border-color: #c0b7e8;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  background: -webkit-gradient(linear, left top, right top, from(rgb(146, 137, 182)), to(rgb(200, 193, 235)));
  background: linear-gradient(90deg, rgb(146, 137, 182), rgb(200, 193, 235) 100%);
}

.feel {
  width: 100%;
  position: relative;
}
.feel::before {
  content: "";
  position: absolute;
  width: 1440px;
  height: 820px;
  background-image: url("../img/svg/feel-bg.svg");
  background-repeat: no-repeat;
  top: 60px;
  left: calc(50% - 720px);
  overflow: hidden;
  z-index: -1;
}
.feel__container {
  display: grid;
  grid-template-columns: repeat(4, 310px);
  margin-bottom: 115px;
  gap: 10px;
}
.feel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  width: 310px;
  height: 511px;
  padding: 0 30px;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(67, 61, 96), rgb(33, 30, 46) 100%);
}
.feel__item h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(192, 183, 232, 0.33);
}
.feel__item p {
  color: #c9c9c9;
  font-size: 12px;
  line-height: 20px;
}
.feel__item button {
  width: 154px;
  height: 48px;
  margin-top: 16px;
  color: #343045;
  border-radius: 40px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 118, 175)), to(rgb(192, 183, 232)));
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.feel__item button:hover {
  border-color: #c0b7e8;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  background: -webkit-gradient(linear, left top, right top, from(rgb(146, 137, 182)), to(rgb(200, 193, 235)));
  background: linear-gradient(90deg, rgb(146, 137, 182), rgb(200, 193, 235) 100%);
}
.feel__item-img {
  background-position: 50% -290px;
  background-size: 190px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 18px;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}
.feel__item-img::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  left: -15px;
  top: -15px;
  background: rgba(0, 0, 0, 0.19);
}
.feel__item:nth-child(3) .feel__item-img {
  background-position: 0px 0%;
  background-size: 100%;
}
.feel__item:nth-child(4) .feel__item-img {
  background-position: -80px 30%;
  background-size: 180%;
}
.feel__item:nth-child(5) .feel__item-img {
  background-position: -20px 50%;
  background-size: 120%;
}
.feel__item:nth-child(6) .feel__item-img {
  background-position: -110px 30%;
  background-size: 210%;
}

.engines {
  width: 100%;
}
.engines__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.engines__container img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.engines__container img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.process {
  width: 100%;
  background-image: url("../img/svg/steps-bg.svg");
  background-repeat: no-repeat;
  background-position: center 210px;
}
.process__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  margin-top: 69px;
}
.process__container div h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 55px;
}
.process__container div h2 span {
  font-weight: 700;
}
.process__container div img {
  -webkit-transform: translate(20px);
      -ms-transform: translate(20px);
          transform: translate(20px);
  margin-right: 100px;
}
.process__container div p {
  line-height: 25px;
  color: #c9c9c9;
}
.process__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.process__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.process__text .process-min {
  min-width: 321px;
}
.process__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 110px;
  gap: 70px;
}
.process__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 300px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.process__step:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.process__step:hover .step__num {
  -webkit-box-shadow: 0px 0px 0px 23px rgba(22, 22, 22, 0.253);
          box-shadow: 0px 0px 0px 23px rgba(22, 22, 22, 0.253);
}
.process__step .step__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 159px;
  min-height: 159px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: #343045;
  border-radius: 50%;
  background: linear-gradient(251.38deg, rgb(192, 183, 232) 12.874%, rgb(129, 118, 175) 89.331%);
  -webkit-box-shadow: 0px 0px 0px 20px rgba(22, 22, 22, 0.349);
          box-shadow: 0px 0px 0px 20px rgba(22, 22, 22, 0.349);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: default;
}
.process__step h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-top: 45px;
}
.process__step h3 .step__arrow {
  display: block;
  width: 32px;
}
.process__step h3 span img {
  -webkit-transform: translate(-10px);
      -ms-transform: translate(-10px);
          transform: translate(-10px);
}

.tech {
  width: 100%;
  position: relative;
}
.tech__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 303px;
  margin-bottom: 55px;
  background-image: url("../img/banner-img.png");
  border-radius: 160px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
          box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}
.tech__container h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.tech__container p {
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
}
.tech__container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%, rgb(129, 118, 175) 98.314%);
  -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.247);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
}
.tech__container button:hover {
  -webkit-box-shadow: 0px 0px 0px 18px rgba(22, 22, 22, 0.308);
          box-shadow: 0px 0px 0px 18px rgba(22, 22, 22, 0.308);
  -webkit-transform: scale(1.1) translate(0, 90px);
      -ms-transform: scale(1.1) translate(0, 90px);
          transform: scale(1.1) translate(0, 90px);
}
.tech__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0, 45%);
      -ms-transform: translate(0, 45%);
          transform: translate(0, 45%);
  gap: 10px;
}

.contact-form {
  width: 100%;
}
.contact-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 1008px;
  padding: 85px 105px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: radial-gradient(50% 50% at 50% 50%, rgb(64, 58, 95), rgb(33, 30, 46) 100%);
}
.contact-form_title {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  padding-bottom: 30px;
}
.contact-form_title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: radial-gradient(circle, #8176af, #2f2c41);
}
.contact-form__text {
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  margin-top: 21px;
  margin-bottom: 65px;
}
.contact-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  width: 100%;
}
.contact-form__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.contact-form__form input, .contact-form__form textarea {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  width: 100%;
  height: 72px;
  background: transparent;
  padding: 0 42px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form__form input::-webkit-input-placeholder, .contact-form__form textarea::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: #c9c9c9;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form__form input::-moz-placeholder, .contact-form__form textarea::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  color: #c9c9c9;
  font-size: 14px;
  line-height: 17px;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form__form input:-ms-input-placeholder, .contact-form__form textarea:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: #c9c9c9;
  font-size: 14px;
  line-height: 17px;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form__form input::-ms-input-placeholder, .contact-form__form textarea::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: #c9c9c9;
  font-size: 14px;
  line-height: 17px;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form__form input::placeholder, .contact-form__form textarea::placeholder {
  font-family: Montserrat, sans-serif;
  color: #c9c9c9;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form__form input:focus, .contact-form__form textarea:focus {
  border: 2px solid;
  border-color: #c0b7e8;
  -webkit-box-shadow: 0px 0px 0px 2px #c0b7e8;
          box-shadow: 0px 0px 0px 2px #c0b7e8;
}
.contact-form__form input:focus::-webkit-input-placeholder, .contact-form__form textarea:focus::-webkit-input-placeholder {
  font-size: 16px;
  color: #ffffff;
}
.contact-form__form input:focus::-moz-placeholder, .contact-form__form textarea:focus::-moz-placeholder {
  font-size: 16px;
  color: #ffffff;
}
.contact-form__form input:focus:-ms-input-placeholder, .contact-form__form textarea:focus:-ms-input-placeholder {
  font-size: 16px;
  color: #ffffff;
}
.contact-form__form input:focus::-ms-input-placeholder, .contact-form__form textarea:focus::-ms-input-placeholder {
  font-size: 16px;
  color: #ffffff;
}
.contact-form__form input:focus::placeholder, .contact-form__form textarea:focus::placeholder {
  font-size: 16px;
  color: #ffffff;
}
.contact-form__form textarea {
  height: 210px;
  padding: 27px 42px;
}
.contact-form__button {
  width: 214px;
  height: 48px;
  margin-top: 51px;
  color: #343045;
  border-radius: 40px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 118, 175)), to(rgb(192, 183, 232)));
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form__button:hover {
  border-color: #c0b7e8;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-box-shadow: 0px 0px 4px 0px #c0b7e8;
          box-shadow: 0px 0px 4px 0px #c0b7e8;
  background: -webkit-gradient(linear, left top, right top, from(rgb(146, 137, 182)), to(rgb(200, 193, 235)));
  background: linear-gradient(90deg, rgb(146, 137, 182), rgb(200, 193, 235) 100%);
}

.footer {
  width: 100%;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 122px;
}
.footer__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}
.footer__links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: radial-gradient(circle, #8176af, #2f2c41);
}
.footer__links ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  height: 200px;
}
.footer__links ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -105px;
  width: 6px;
  height: 100%;
  background: radial-gradient(circle, #8176af, #2f2c41);
}
.footer__links ul li {
  font-weight: 700;
  line-height: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__links ul li:hover {
  color: #c0b7e8;
  -webkit-transform: scale(1.1) translateX(8px);
      -ms-transform: scale(1.1) translateX(8px);
          transform: scale(1.1) translateX(8px);
}
.footer__links-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__links-container p {
  font-weight: 700;
  line-height: 20px;
}
.footer__links-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__links-container div svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__links-container div svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__links-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -105px;
  width: 6px;
  height: 100%;
  background: radial-gradient(circle, #8176af, #2f2c41);
}
.footer__button {
  width: 214px;
  height: 48px;
  margin-top: 8px;
  color: #343045;
  border-radius: 40px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 118, 175)), to(rgb(192, 183, 232)));
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__button:hover {
  border-color: #c0b7e8;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  background: -webkit-gradient(linear, left top, right top, from(rgb(146, 137, 182)), to(rgb(200, 193, 235)));
  background: linear-gradient(90deg, rgb(146, 137, 182), rgb(200, 193, 235) 100%);
}
.footer__copyright {
  padding: 50px 0;
  text-align: center;
}
.footer__copyright p {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 2px;
}

.feel__container-prev-button, .feel__container-next-button, .engines__container-prev-button, .engines__container-next-button, .process__steps-prev-button, .process__steps-next-button {
  display: none;
}

.main {
  width: 100%;
  margin-top: 100px;
  position: relative;
}
.main::before {
  content: "";
  position: absolute;
  width: 1440px;
  height: 100%;
  background-image: url("../img/svg/header-bg.svg");
  background-repeat: no-repeat;
  top: -300px;
  left: calc(50% - 700px);
  overflow: hidden;
  z-index: -1;
}

body {
  margin: 0;
  background-color: #302c42;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
}

button {
  font-family: Montserrat, sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  resize: none;
}

a {
  text-decoration: none;
  color: var(--color-links);
}

.wrapper {
  max-width: 1440px;
  padding: 0 84px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242131;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aa9de4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a78db;
}

@media only screen and (max-width: 1490px) {
  .main::before {
    content: none;
    background-image: none;
    background-repeat: no-repeat;
  }
  .about::before {
    content: none;
    background-image: none;
    background-repeat: no-repeat;
  }
  .feel::before {
    content: none;
    background-image: none;
    background-repeat: no-repeat;
  }
  .feel__container {
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 511px);
    width: 830px;
    gap: 30px;
    margin: 0 auto;
    text-align: center;
  }
  .feel__item h2 {
    font-size: 30px;
  }
  .feel__item p {
    font-size: 16px;
  }
  .feel__item-img {
    width: 175px;
  }
  .feel__item button {
    width: 174px;
    height: 58px;
    font-size: 16px;
  }
  .tech__container {
    margin-top: 115px;
  }
  .engines {
    width: 100%;
  }
  .engines__container img {
    max-width: 200px;
  }
}
@media only screen and (max-width: 432px) {
  .footer__links, .engines__container, .header__container, .about__content-text, .about__content-sub, .process__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper {
    max-width: 390px;
    padding: 0 5%;
  }
  .main {
    margin-top: 48px;
  }
  .menu__list, .menu__buttons {
    display: none;
  }
  .menu .img1 {
    width: 70px;
    height: 70px;
  }
  .menu .img2 {
    width: 46px;
    height: 28px;
  }
  .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__title {
    text-align: center;
    width: 100%;
  }
  .header__title-ftext {
    font-size: 28px;
  }
  .header__title-ftext .ft1 {
    font-size: 36px;
  }
  .header__title-stext {
    font-size: 26px;
  }
  .header__title-stext .ft2 {
    font-size: 32px;
  }
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
  }
  .header__illustration {
    min-width: 100%;
    min-height: 300px;
    background-size: 100%;
    background-position: -340px -40px;
  }
  .header__illustration::before {
    top: -15px;
    left: -15px;
    width: calc(100% + 27.5px);
    height: calc(100% + 27.5px);
  }
  .header__desc-text {
    display: none;
  }
  .header__button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .header__button-container .header__button {
    width: 80%;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
  }
  .header__button-container .header__arrow {
    display: none;
  }
  .contacts__container {
    margin-top: 53px;
    height: 109px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 60px;
  }
  .contacts__item {
    display: none;
    padding: 0;
    max-width: 220px;
  }
  .contacts__item svg {
    min-width: 55px;
  }
  .contacts__items {
    margin: 0 auto;
    max-width: 220px;
  }
  .contacts__slide-prev-button, .contacts__slide-next-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    border: none;
    background: transparent;
    z-index: 300;
    height: 40px;
  }
  .contacts__slide-prev-button {
    right: 80%;
  }
  .contacts__slide-next-button {
    left: 80%;
  }
  .contacts__text {
    gap: 2px;
  }
  .contacts__text h2 {
    font-size: 20px;
    color: #c0b7e8;
  }
  .contacts__text p {
    font-size: 12px;
  }
  .contacts .border {
    border: none;
    padding: 0;
  }
  .about .about__content-sub {
    gap: 50px;
    font-size: 14px;
    margin-bottom: 60px;
  }
  .about .about__content-sub h2 {
    display: none;
  }
  .about .about__content-sub .about__image {
    min-width: 100%;
    min-height: 370px;
    border-radius: 140px 60px 140px 60px;
    background-size: 100%;
  }
  .about .about__content-text-sub {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__content-text-sub .about__button {
    width: 80%;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
  }
  .about .about__content-text {
    text-align: center;
    margin-bottom: 36px;
  }
  .about .about__content-text .about-min {
    min-width: 100%;
  }
  .about .about__content-text p {
    display: none;
  }
  .about .about__content-text img {
    display: none;
  }
  .feel__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .feel__item {
    min-width: 100%;
    min-height: 511px;
    padding: 33px;
    display: none;
  }
  .feel__item p {
    font-size: 13.2px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .feel__item .feel__button {
    width: 90%;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
  }
  .feel__container-next-button, .feel__container-prev-button {
    position: absolute;
    z-index: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%, rgb(129, 118, 175) 98.314%);
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translate(0, 100px);
        -ms-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  .feel__container-next-button {
    left: 84%;
    top: 130px;
  }
  .feel__container-prev-button {
    right: 84%;
    top: 130px;
  }
  .tech__container {
    margin-top: 55px;
    width: 100%;
    height: 164px;
    border-radius: 60px;
    background-size: 194%;
    background-position: -140px;
  }
  .tech__container button {
    display: none;
  }
  .tech__text h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  .tech__text p {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
  }
  .engines__container {
    position: relative;
    margin-bottom: 20px;
  }
  .engines__container-prev-button, .engines__container-next-button {
    position: absolute;
    z-index: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%, rgb(129, 118, 175) 98.314%);
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translate(0, 100px);
        -ms-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  .engines__container-prev-button {
    left: 88%;
    top: -25px;
  }
  .engines__container-next-button {
    right: 88%;
    top: -25px;
  }
  .engine-item {
    display: none;
    min-height: 200px;
  }
  .process {
    background-image: none;
  }
  .process__container {
    margin-top: 0;
    margin-bottom: 80px;
  }
  .process__steps {
    position: relative;
    margin-top: 40px;
  }
  .process__step {
    display: none;
  }
  .process__step h3 {
    width: 90%;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
  .process__steps-prev-button, .process__steps-next-button {
    position: absolute;
    z-index: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%, rgb(129, 118, 175) 98.314%);
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translate(0, 100px);
        -ms-transform: translate(0, 100px);
            transform: translate(0, 100px);
    top: 130px;
  }
  .process__steps-prev-button {
    left: 88%;
  }
  .process__steps-next-button {
    right: 88%;
  }
  .process__description img {
    display: none;
  }
  .process__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .process__text h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .process__text h2 span {
    text-align: center;
  }
  .process__text h2 br {
    display: none;
  }
  .process-min {
    min-width: 100%;
  }
  .process p {
    display: none;
  }
  .contact-form__container {
    border-radius: 40px;
    padding: 21px;
  }
  .contact-form__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 36px;
  }
  .contact-form__button {
    width: 292px;
    height: 52px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  .contact-form__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 29px;
  }
  .contact-form__title::after {
    content: none;
  }
  .contact-form__form {
    width: 100%;
    gap: 22px;
  }
  .contact-form__form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 22px;
  }
  .contact-form__form input {
    height: 55px;
    padding: 0 22px;
  }
  .footer__container {
    margin-top: 80px;
  }
  .footer__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 56px;
  }
  .footer__links ul {
    display: none;
  }
  .footer__links ul::after {
    content: none;
  }
  .footer__links-container p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
  .footer__button {
    width: 100%;
    height: 55px;
    font-size: 14px;
    font-weight: 700;
  }
  .footer__copyright p {
    line-height: 40px;
    letter-spacing: 15%;
  }
}
@media only screen and (max-width: 380px) {
  .header__illustration {
    background-position: 50% -30px;
  }
  .tech__container {
    background-size: 235%;
  }
  .header__title-ftext {
    font-size: 24px;
  }
  .header__title-ftext .ft1 {
    font-size: 28px;
  }
  .header__title-stext {
    font-size: 24px;
  }
  .header__title-stext .ft2 {
    font-size: 28px;
  }
  .contacts__slide-prev-button {
    right: 83%;
  }
  .contacts__slide-next-button {
    left: 83%;
  }
}
.active-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.5s ease forwards;
          animation: fadeIn 0.5s ease forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}