@import "base/_fonts";
@import "base/_reset";
@import "base/_vars";

@import "blocks/_menu";
@import "blocks/_header";
@import "blocks/_contacts";
@import "blocks/_about";
@import "blocks/_feel";
@import "blocks/_engines";
@import "blocks/_process";
@import "blocks/_tech";
@import "blocks/_contact-form";
@import "blocks/_footer";
@import "blocks/_buttons";
@import "blocks/_main";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: Montserrat, sans-serif;
  color: $white-color;
}

button {
  font-family: Montserrat, sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  font-family: Montserrat, sans-serif;
  color: $white-color;
  resize: none;
}

a {
  text-decoration: none;
  color: var(--color-links);
}

.wrapper {
  max-width: 1440px;
  padding: 0 84px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242131;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aa9de4; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a78db; 
}


@import "blocks/_mobile";
