.feel {
    width: 100%;
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      width: 1440px;
      height: 820px;
      background-image: url('../img/svg/feel-bg.svg');
      background-repeat: no-repeat;
      top: 60px;
      left: calc(50% - 720px);
      overflow: hidden;
      z-index: -1;
    }
  }
  
  .feel__container {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    margin-bottom: 115px;
    gap: 10px;
  }
  
  .feel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 310px;
    height: 511px;
    padding: 0 30px;
    border-radius: 40px;
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(67, 61, 96),rgb(33, 30, 46) 100%);
  
    .feel__item-img {
      background-position: 50% -290px;
      background-size: 190px;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      position: relative;
      margin-bottom: 18px;
      filter: brightness(1.3);
  
      &::before {
        content: '';
        position: absolute;
        border-radius: inherit;
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        left: -15px;
        top: -15px;
        background: rgba(0, 0, 0, 0.19);
      }
    }
  
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      padding-bottom: 17px;
      border-bottom: 1px solid rgba(192, 183, 232, 0.33);;
    }
  
    p {
      color: $gray-text-color;
      font-size: 12px;
      line-height: 20px;
    }
  
    button {
      width: 154px;
      height: 48px;
      margin-top: 16px;
      color: $black-text-color;
      border-radius: 40px;
      border: none;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      background: linear-gradient(90.00deg, rgb(129, 118, 175),rgb(192, 183, 232) 100%);
      transition: all .2s;
    
    
      &:hover {
        border-color: $style-color;
        transform: scale(1.06);
        background: linear-gradient(90.00deg, rgb(146, 137, 182),rgb(200, 193, 235) 100%);
      }
    }
  }
  
  .feel__item {
    &:nth-child(3) .feel__item-img {
      background-position: 0px 0%;
      background-size: 100%;
    }
    &:nth-child(4) .feel__item-img {
      background-position: -80px 30%;
      background-size: 180%;
    }
    &:nth-child(5) .feel__item-img {
      background-position: -20px 50%;
      background-size: 120%;
    }
    &:nth-child(6) .feel__item-img {
      background-position: -110px 30%;
      background-size: 210%;
    }
  }