.footer {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 122px;
  }

  &__links {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 80px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: radial-gradient(circle, #8176af, #2f2c41);
    }

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 25px;
      height: 200px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -105px;
        width: 6px;
        height: 100%;
        background: radial-gradient(circle, #8176af, #2f2c41);
      }

      li {
        font-weight: 700;
        line-height: 20px;
        transition: all .2s;

        &:hover {
          color: $style-color;
          transform: scale(1.1) translateX(8px);
        }
      }
    }
  }

  &__links-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;

    p {
      font-weight: 700;
      line-height: 20px;
    }

    div {
      display: flex;
      gap: 20px;

      svg {
        transition: all .2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -105px;
      width: 6px;
      height: 100%;
      background: radial-gradient(circle, #8176af, #2f2c41);
    }
  }

  &__button {
    width: 214px;
    height: 48px;
    margin-top: 8px;
    color: $black-text-color;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    background: linear-gradient(90.00deg, rgb(129, 118, 175),rgb(192, 183, 232) 100%);
    transition: all .2s;

    &:hover {
      border-color: $style-color;
      transform: scale(1.06);
      background: linear-gradient(90.00deg, rgb(146, 137, 182),rgb(200, 193, 235) 100%);
    }
  }

  &__copyright {
    padding: 50px 0;
    text-align: center;
    
    p {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 2px;
    }
  }
}