.main {
  width: 100%;
  margin-top: 100px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 1440px;
    height: 100%;
    background-image: url('../img/svg/header-bg.svg');
    background-repeat: no-repeat;
    top: -300px;
    left: calc(50% - 700px);
    overflow: hidden;
    z-index: -1;
  }
}