@media only screen and (max-width: 1490px) {
  .main {
    &::before {
      content: none;
      background-image: none;
      background-repeat: no-repeat;
    }
  }

  .about {
    &::before {
      content: none;
      background-image: none;
      background-repeat: no-repeat;
    }
  }

  .feel {
    &::before {
      content: none;
      background-image: none;
      background-repeat: no-repeat;
    }
  }

  .feel__container {
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 511px);
    width: 830px;
    gap: 30px;
    margin: 0 auto;
    text-align: center;
  }

  .feel__item {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
    }

    .feel__item-img {
      width: 175px;
    }

    button {
      width: 174px;
      height: 58px;
      font-size: 16px;
    }
  }

  .tech__container {
    margin-top: 115px;
  }

  .engines {
    width: 100%;
  }
  
  .engines__container {
    img {
      max-width: 200px;
    }
  }
}





@media only screen and (max-width: 432px) {
  .footer__links, .engines__container, .header__container, .about__content-text, .about__content-sub, .process__description {
    flex-direction: column;
  }

  .wrapper {
    max-width: 390px;
    padding: 0 5%;
  }

  .main {
    margin-top: 48px;
  }

  .menu__list {
    display: none;
  }
  .menu__buttons {
    display: none;
  }

  .img1 {
    width: 70px;
    height: 70px;
  }
  .img2 {
    width: 46px;
    height: 28px;
  }

  .menu-button {
    display: flex;
  }


  .header__title {
    text-align: center;
  }

  .header__container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .header__illustration {
    min-width: 100%;
    min-height: 300px;
    background-size: 100%;
    background-position: -340px -40px;

    &::before {
      top: -15px; 
      left: -15px; 
      width: calc(100% + 27.5px);
      height: calc(100% + 27.5px);
    }
  }

  .header__title {
    width: 100%;
  }

  .header__title-ftext {
    font-size: 28px;
    .ft1 {
      font-size: 36px;
    }
  }

  .header__title-stext {
    font-size: 26px;
    .ft2 {
      font-size: 32px; 
    }
  }

  .header__desc-text {
    display: none;
  }

  .header__button-container {
    justify-content: center;
    align-items: center;
    margin-top: 0;

    .header__button {
      width: 80%;
      height: 60px;
      font-size: 16px;
      font-weight: 700;
      line-height: 17px;
    }

    .header__arrow {
      display: none;
    }
  }




  .contacts__container {
    margin-top: 53px;
    height: 109px;
    justify-content: start;

  }

  .contacts__item {
    display: none;
    padding: 0;
    max-width: 220px;

    svg {
      min-width: 55px;
    }
  }

  .contacts__items {
    margin: 0 auto;
    max-width: 220px;
  }

  .contacts__slide-prev-button, .contacts__slide-next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    background: transparent;
    z-index: 300;
    height: 40px;
  }
  .contacts__slide-prev-button {
    right: 80%;
  }
  .contacts__slide-next-button {
    left: 80%;
  }
  .border {
    border: none;
  }

  .contacts__text {
    gap: 2px;
    h2 {
      font-size: 20px;
      color: $style-color;
    }

    p {
      font-size: 12px;
    }
  }




  .about__content-sub {
    gap: 50px;
    font-size: 14px;
    margin-bottom: 60px;

    .about__image {
      min-width: 100%;
      min-height: 370px;
      border-radius: 140px 60px 140px 60px;
      background-size: 100%;
    }

    h2 {
      display: none;
    }
  }

  .about__content-text-sub {
    align-items: center;

    .about__button {
      width: 80%;
      height: 60px;
      font-size: 16px;
      font-weight: 700;
      line-height: 17px;
    }
  }
  
  .about__content-text {
    text-align: center;
    margin-bottom: 36px;

    .about-min {
      min-width: 100%;
    }

    p {
      display: none;
    }

    img {
      display: none;
    }
  }





  .feel__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .feel__item {
    min-width: 100%;
    min-height: 511px;
    padding: 33px;
    display: none;
    
    p {
      font-size: 13.2px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }

    .feel__button {
      width: 90%;
      height: 48px;
      font-size: 15px;
      font-weight: 700;
      line-height: 17px;
    }
  }

  .feel__container-next-button, .feel__container-prev-button {
    position: absolute;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%,rgb(129, 118, 175) 98.314%);
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
    transition: all .2s;
    transform: translate(0, 100px);
  }
  .feel__container-next-button {
    left: 84%;
    top: 130px;
  }
  .feel__container-prev-button {
    right: 84%;
    top: 130px;
  }





  .tech__container {
    margin-top: 55px;
    width: 100%;
    height: 164px;
    border-radius: 60px;
    background-size: 194%;
    background-position: -140px;

    button {
      display: none;
    }
  }

  .tech__text {
    h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }

    p {
      font-size: 24px;
      font-weight: 300;
      line-height: 29px;
    }
  }


  .engines__container {
    position: relative;
  }

  .engines__container-prev-button, .engines__container-next-button {
    position: absolute;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%,rgb(129, 118, 175) 98.314%);
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
    transition: all .2s;
    transform: translate(0, 100px);
  }
  .engines__container-prev-button {
    left: 88%;
    top: -25px;
  }
  .engines__container-next-button {
    right: 88%;
    top: -25px;
  }
  .engine-item {
    display: none;
    min-height: 200px;
  }





  .process {
    background-image: none;
  }

  .process__steps {
    position: relative;
  }

  .process__step {
    display: none;

    h3 {
      width: 90%;
      transform: translateX(10px);
    }
  }

  .process__steps-prev-button, .process__steps-next-button{
    position: absolute;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%,rgb(129, 118, 175) 98.314%);
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.247);
    transition: all .2s;
    transform: translate(0, 100px);
    top: 130px;
  }
  .process__steps-prev-button {
    left: 88%;
  }
  .process__steps-next-button {
    right: 88%;
  }

  .process__description {
    img {
      display: none;
    }

    .process__text {
      justify-content: center;

      .process-min {
        min-width: 100%;
      }
      
      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        span {
          text-align: center;
        }

        br {
          display: none;
        }
      }
    }

    p {
      display: none;
    }
  }


  .contact-form__container {
    border-radius: 40px;
    padding: 21px;

    .contact-form__text {
      font-size: 24px;
      font-weight: 300;
      line-height: 29px;
      margin-bottom: 36px;
    }

    .contact-form__button {
      width: 292px;
      height: 52px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }
  }

  .contact-form__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 29px;

    &::after {
      content: none;
    }
  }

  .contact-form__form {
    width: 100%;
    gap: 22px;

    div {
      flex-direction: column;
      gap: 22px;
    }
    input {
      height: 55px;
      padding: 0 22px;
    }
  }


  .footer__container {
    margin-top: 80px;
  }

  .footer__links {
    justify-content: center;
    align-items: center;
    gap: 56px;

    ul {
      display: none;
      &::after {
        content: none;
      }
    }
  }

  .footer__links-container {
    p {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  .footer__button {
    width: 100%;
    height: 55px;
    font-size: 14px;
    font-weight: 700;
  }

  .footer__copyright {
    p {
      line-height: 40px;
      letter-spacing: 15%;
    }
  }


  .active-slide {
    display: flex;
    animation: fadeIn 0.5s ease forwards;
  }


}

@media only screen and (max-width: 380px) {
  .header__illustration {
    background-position: 50% -30px;
  }

  .tech__container {
    background-size: 235%;
  }

  .header__title-ftext {
    font-size: 24px;
    .ft1 {
      font-size: 28px;
    }
  }

  .header__title-stext {
    font-size: 24px;
    .ft2 {
      font-size: 28px;
    }
  }

  .contacts__slide-prev-button {
    right: 83%;
  }
  .contacts__slide-next-button {
    left: 83%;
  }
}






@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}