.tech {
    width: 100%;
    position: relative;
  
  }
  
  .tech__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 303px;
    margin-bottom: 55px;
    background-image: url('../img/banner-img.png');
    border-radius: 160px;
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  
    .tech__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: translate(0, 45%);
      gap: 10px;
    }
  
    h2 {
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
    }
  
    p {
      font-size: 36px;
      font-weight: 300;
      line-height: 44px;
    }
  
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 70px;
      height: 70px;
      border: none;
      border-radius: 50%;
      background: linear-gradient(267.78deg, rgb(192, 183, 232) -0.6%,rgb(129, 118, 175) 98.314%);
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.247);
      transition: all .2s;
      transform: translate(0, 100px);
      &:hover {
        box-shadow: 0px 0px 0px 18px rgba(22, 22, 22, 0.308);
        transform: scale(1.1) translate(0, 90px);
      }
    }
  }